@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Montserrat:wght@100;400&display=swap');
/*__________База__________*/
html {
  
}
body {
  
  background: linear-gradient(120deg, #3e514f 0%, #131d1e 74%);
}
footer {
  
  border-top: solid rgb(0, 160, 120) 2px;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 30px;
}
/*__________Шапка_сайта__________*/
.nav-menu {
  display: flex;
  justify-content: center;
}
.nav-li {
  margin: auto 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
.nav-element1 {
  margin-right: 25px;
  list-style: none;
  height: 40px;  
}
header {
  width: 100%;
  z-index: 999;
  margin-bottom: 3%;
  padding-right: 30px;
}
.aboba {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  background-size: 250px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text; 
  color: rgb(255, 255, 255);
  background-color: rgb(255 255 255 / .2 );
  border-radius: 10px;
  padding: 7px;
  transition-duration: 0.8s;
}
.aboba:hover{

  text-shadow: 0 0 5px #fff,
               0 0 10px #fff, 
               0 0 15px #49acee,
               0 0 20px #49acee, 
               0 0 25px #49acee,
               0 0 30px #49acee;            
}
.sas_a{
  text-decoration: none;
}
.logo{
  list-style: none;
  width: 5vw;
  height: 5vw;
  background-image: url(image/cat_close.jpg);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 50%;
  box-shadow:0px 0px 20px #000000;
  position: absolute;
  top: 15px;
  left: 15px;
}
.logo:hover{
  list-style: none;
  width: 5vw;
  height: 5vw;
  background-image: url(image/cat_open.jpg);
  background-size: 100% 100%;
  background-position: center;
  border-radius: 50%;
  box-shadow:0px 0px 20px #000000;
  position: absolute;
}
/*__________Основа__________*/
.h_care {
  font-size: 3.2vw;
  font-weight: 700;
  font-family: 'Montserrat';
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.care_img_cat {
  max-width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 12px #000000, 0px 0px 25px #000000;
  overflow: hidden;
  height: 15vw;
  transition-duration: 1s; 
}
.care_img_cat:hover {
  max-width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 12px #000000;
  overflow: hidden;
  height: 15vw;
}
.footer_c {
  font-size: 1vw;
  font-weight: 600;
  font-family: 'Montserrat';
  font-style: normal;
  color:rgb(207, 207, 207);

}
.a_col {
  text-align: center;
  height: 80%;
}
.a_col_t {
  display: block;
  font-size: 1.1vw;
  font-weight: 600;
  font-family: 'Montserrat';
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: #1d8896;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
  letter-spacing: 0.1vw;
}
/*__________Сетка__________*/
.care_cols {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}
.care_cols_item {
  display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 30%;
}
/*__________Кот_снизу__________*/
.cat_r {
  max-width: 30vw;
  position:absolute;
}
.fraza {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 2vw;
  text-align: center;
  color:rgb(207, 207, 207);
}
.author {
  font-family: 'Montserrat';
  font-style: normal;
  text-align: right;
  font-size: 1vw;
  color:rgb(207, 207, 207);

}
.otec {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.sin {
  flex-basis: auto;
  align-items: center;
  width: 50%;
  margin-left: 10%;
}
.sin2 {
  flex-basis: auto;
  align-items: center;
  margin-top: 8%;
  width: 50%;
}
.down {
  margin-top: 3%;
  margin-right: 3%;
}
